.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #141e30;
  background: -webkit-linear-gradient(to top, #243b55, #141e30);
  background: linear-gradient(to top, #243b55, #141e30);
  height: 90px;
  font-family: 'Lobster', cursive;
}

.flex-container .headerLineup {
  color: aliceblue;
  width: 50%;
  margin: 10px;
  line-height: 10px;
  font-size: 30px;
  float: left;
}

button {
  background: white;
  float: right;
  width: 100px;
}
