img {
  width: 250px;
  height: 250px;
  margin-top: -2%;
  padding: 5px;
}

.goBackBtn {
  float: right;
}

.editBtn {
  float: left;
}

.jumbotron {
  margin: 5%;
  height: 280px;
}

.bookName {
  margin-top: -2%
}

button {
  margin-top: 3%;
}

@media only screen and (max-width: 900px) {
  .goBackBtn {
    width: 150px;
  }
  .editBtn {
    width: 150px;
  }
  img {
    width: 200px;
    margin-top: -4%;
    padding: 5px;
  }
}
