<div class="jumbotron">
  <button type="submit" class="btn btn-danger  deleteBtn" (click)=" deleteBookBtn(id)">Delete book</button>
  <img class="float-left" src="{{bookDepository.image}}">
  <h1 class="bookName">{{bookDepository.title | titlecase | trim }}</h1>
  <p>Author: {{bookDepository.author | titlecase | trim }}</p>
  <p>Publication date: {{bookDepository.date | date: 'dd/MM/yyyy' }}</p>
  <div class="btnClass">
    <button class="btn btn-primary col-xs-4  editBtn" type="button" (click)="onEdit(content)">Edit Book</button>
    <button class="col-xs-4 btn btn-primary  goBackBtn" type="button" [routerLink]="['/books']">Go Back</button>
  </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Book</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="editBook" (ngSubmit)="onUpdateBook(editBook)">

      <div class="form-group">
        <label for="title">Book Title: </label>
        <input type="text" class="form-control" name="title" id="editTitle" [formControlName]="'title'">
        <span class="help-block" *ngIf="!editBook.get('title').valid && editBook.get('title').touched">Please enter book title</span>
      </div>
      <div class="form-group">
        <label for="author">Author: </label>
        <input type="text" class="form-control" [formControlName]="'author'" id="editAuthor">
        <span class="help-block" *ngIf="!editBook.get('author').valid && editBook.get('author').touched">Please enter author name</span>

      </div>
      <div class="form-group">
        <label for="date">Publication Date:</label>
        <input type="date" class="form-control" [formControlName]="'date'" id="editeDate">
        <span *ngIf="!editBook.get('date').valid && editBook.get('date').touched" class="help-block">Please enter Publication date</span>
      </div>
      <div class="form-group">
        <label for="image">cover:</label>
        <input type="file" id="editeImage">
        <span class="help-block" *ngIf="!editBook.get('image').valid && editBook.get('date').touched">Please enter book cover</span>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary footerBtn" [disabled]="!editBook.valid">Save</button>
        <button type="submit" class="btn btn-danger footerBtn" (click)="c('Close click')">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
