img {
  width: 250px;
  height: 250px;
  margin-top: -2%;
  padding: 5px;
}

/* .JumboHr {
  margin-top: -1%
} */

.goBackBtn {
  float: right;
}

.editBtn {
  float: left;
}

.jumbotron {
  margin: 5%;
  height: 280px;
  font-family: 'Playfair Display', serif;
}

.bookName {
  margin-top: -2%
}

.footerBtn {
  margin-top: 5%;
}

.deleteBtn {
  float: right;
}

.modal-header {
  font-family: 'Libre Baskerville', serif;
}

@media only screen and (max-width: 900px) {
  .jumbotron {
    margin: 5%;
    height: 400px;
    font-family: 'Playfair Display', serif;
  }
  .goBackBtn {
    width: 250px;
    margin-top: 3%;
  }
  .editBtn {
    width: 250px;
    margin-top: 3%;
  }
  img {
    width: 200px;
    margin-top: -4%;
    padding: 5px;
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
