 .flex-container {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   margin-top: 5%;
 }

 .card-body {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
 }

 img {
   height: 180px;
 }

 button {
   align-self: flex-end;
 }
