<div class="card">
  <div class="card-header">Add new book to shop</div>
  <div class="card-body">
    <form [formGroup]="addBookForm" (ngSubmit)="onNewSave() ">
      <div class="form-group">
        <label for="title">Book Title:</label>
        <input type="text" class="form-control" id="addTitle" [formControlName]="'addTitle'">
        <span class="help-block" *ngIf="!addBookForm.get('addTitle').valid && addBookForm.get('addTitle').touched">Please enter book title</span>
      </div>
      <div class="form-group">
        <label for="author">Book ID:</label>
        <input type="number" class="form-control" id="id" [formControlName]="'id'">
        <span class="help-block" *ngIf="!addBookForm.get('id').valid && addBookForm.get('id').touched">Please enter book ID</span>
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" class="form-control" id="addAuthor" [formControlName]="'addAuthor'">
        <span class="help-block" *ngIf="!addBookForm.get('addAuthor').valid && addBookForm.get('addAuthor').touched">Please enter author name</span>
      </div>
      <div class="form-group">
        <label for="date">Publication Date:</label>
        <input type="date" class="form-control" id="addeDate" [formControlName]="'addDate'">
        <span class="help-block" *ngIf="!addBookForm.get('addDate').valid && addBookForm.get('addDate').touched">Please enter publication date</span>
      </div>
      <div class="form-group ">
        <label for="image">cover:</label>
        <select id="addImage" [formControlName]="'addImage'" name="addImage" class="custom-select custom-select-lg mb-3">
          <option *ngFor="let image of images" [value]="image.url">{{image.name}}</option>
        </select>
        <span class="help-block" *ngIf="!addBookForm.get('addImage').valid && addBookForm.get('addImage').touched">Please enter book cover</span>
      </div>
      <button type="submit" class="btn btn-primary addBook" [disabled]="!addBookForm.valid">Save</button>
      <button type="submit" class="btn btn-danger cancel" routerLink="/books/">Cancel </button>

    </form>

  </div>
</div>
