<div class="card">
  <div class="card-header">Add new book to shop</div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="title">Book Title:</label>
        <input type="text" class="form-control" id="editTitle">
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" class="form-control" id="editAuthor">
      </div>
      <div class="form-group">
        <label for="date">Publication Date:</label>
        <input type="date" class="form-control" id="editeDate">
      </div>
      <div class="form-group">
        <label for="image">cover:</label>
        <input type="file" id="editeImage">
      </div>

      <button type="submit" class="btn btn-primary addBook">Submit</button>
      <button type="submit" class="btn btn-danger cancel" routerLink="/books/">Cancel </button>

    </form>


  </div>
</div>
